/* menu start */
.quack-headline {
	font-size: 45px;
	line-height: 57px;
	font-weight: 600;
}
.quack-subheadline{
		font-size: 40px;
		line-height: 52px;
		font-weight: 700;
}
.pera-block .quack-subheadline{
	margin-bottom: 15px;
}
.humburger {
	cursor: pointer;
}

.hum-line {
	height: 4px;
	width: 30px;
	background-color: #34495E;
	display: block;
	margin-bottom: 6px;
}

.hum-line.middle-hum {
	width: 26px;
	margin-left: auto;
}
.desktop-burger-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5000px;
	right: 0;
	transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
}

.desktop-burger-menu-active {
	left: 0px;
	transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
}

.dropmenu-nav {
	display: none;
}
.desktop-menu-footer h6{
	font-size: 15px;
}
.desktop-menu-footer p{
	font-size: 14px;
}
.desktop-menu-footer .icon-menu i{
	font-size: 24px;
}
.desktop-menu-footer .icon-menu a{
	font-size: 18px;
	color: #692e97;
	margin-left: 20px;
}
.desktop-menu-footer .icon-menu a i{
	font-size: 18px !important;
}
.desktop-menu-footer .icon-menu a:last-child{
	margin-left: 0px;
}
.desktop-menu-footer .icon-menu a i:hover{
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
/* .active{
	background: #FFF7F6;
	border-radius: 6px;
}
.menu-active{
	padding: 20px 20px;
} */
.left-meu-nav .active {
	color: #692e97 !important;
	font-weight: 500;
}

.menu-show {
	transform: all .9s ease;
	-webkit-transform: all .9s ease;
	-moz-transform: all .9s ease;
	-ms-transform: all .9s ease;
	-o-transform: all .9s ease;
	display: block !important;
}

.left-menu {
	height: 100vh;
	background-color: #fff;
}

.menu-title {
	font-size: 18px;
	font-weight: 500;
}

.left-menu-header {
	background-image: linear-gradient(90deg, #e2e9f7 0%, #ffffff 100%);
}

.left-menu-header h5 {
	color: #30303c;
	font-size: 19px;
	font-weight: normal;
}

.cross-icon i {
	color: #30303c;
	cursor: pointer;
}

.left-menu-header {
	padding: 24px 17px;
}

.left-meu-nav {
	background: #ffffff;
}

.desktop-humburger-nav li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	font-size: 16px;
	color: #110a32;
}

.desktop-humburger-nav li a span i {
	font-size: 14px;
}

.desktop-humburger-nav {
	padding: 30px 12px;
}

.desktop-menu-footer {
	padding: 10px 17px 20px 17px;
}

.footer-contain p {
	font-size: 15px;
	color: #110a32;
	margin-bottom: 10px;
}

.footer-contain .icon-menu {
	color: #692e97;
	font-size: 28px;
	/* margin-right: 10px; */
}

.right-menu {
	/*background: #FFF7F6;
	*/
	position: relative;
	height: 100vh;
	padding-top: 0px;
	/* background-image: linear-gradient(90deg, #e2e9f7 0%, #FFF7F6 100%); */

}
/* .right-menu::before{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(90deg, #e2e9f7 0%, #FFF7F6 100%);
	cursor: url('../images/close.png'), auto;
} */
.right-menu-overlayer{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(90deg, #e2e9f7 0%, #FFF7F6 100%);
	cursor: url('../images/close.png'), auto;
}

.right-menu .right-menu-box {
	padding: 65px 30px 73px 30px;
}
.menu-footer-social{
	margin-bottom: 45px;
}
.card-single {
	position: relative;
	padding: 25px 20px;
	background-color: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.menu-sub-title {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.mobile-humburger {
	display: none;
}

.menu-btn {
	border: none;
	outline: none;
	font-size: 16px;
	background: transparent;
	color: #692e97;
}

.menu-btn span {
	font-size: 13px;
}

.card-icon {
	height: 56px;
	width: 56px;
	text-align: center;
	line-height: 56px;
	font-size: 28px;
	color: #fff;
	background-color: #692e97;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-bottom: 20px;
	display: block;
}
.mb-20 {
	margin-bottom: 30px !important;
}

/* menu end */
.ree-card {
	background: #fff;
	position: relative;
	place-items: start;
	display: grid;
	border-radius: 14px;
	padding: 40px 30px;
	-webkit-box-shadow: 0 10px 15px -2px rgb(82 0 57/8%);
	box-shadow: 0 10px 15px -2px rgb(82 0 57/8%);
}

.mb-8 {
	margin-bottom: 10px !important;
}

.mb-25 {
	margin-bottom: 10px !important;
}

.ul-list-icon li {
	text-transform: capitalize !important;

}

.review-text p::after {
	font-family: 'font awesome 5 free';
	content: "\f10e";
	font-weight: 700;
	margin: 0 0 0 8px;
	color: #692e97;
}

.review-text p::before {
	font-family: 'font awesome 5 free';
	content: "\f10d";
	font-weight: 700;
	margin: 0 8px 0 0;
	color: #692e97;
}

p {
	font-size: 18px;
	line-height: 28px;
}

html .mt30 {
	margin-top: 30px;
}

.ree-row-set {
	align-items: flex-start;
	display: flex;
	vertical-align: top;
}

.vcenter {
	align-items: center;
	align-self: center;
}

.img-round80 {
	border-radius: 100%;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.ree-details-set {
	width: calc(100% - 80px);
	padding-left: 20px;
	-ms-flex: 1;
	flex: 1;
}

.footer-a {
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.pt160 {
	padding-top: 160px !important;
}

.font-13 {
	font-size: 13px !important;
}

.preview-section-img,
.demo-right-card {
	border: 1px solid #e1e8ed;
	background-color: #fafafa;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	padding: 12px;
	box-shadow: 0 10px 15px -2px rgb(82 0 57/8%);
	position: relative;

}

.fs-16 {
	font-size: 16px !important;
}

.demo-right-card.demo-right {
	padding: 25px 30px;
}

.preview-section-img img {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.bottom-images {
	margin-top: 20px;
}

.preview-img {
	width: 86px !important;
	cursor: pointer;
	margin: 0px 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.zeynep {
	height: 100vh;
}

.main-preview-img:hover {
	background-color: red !important;
}

.p-hover-sec {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.live-p-text {
	margin-top: 16px;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
}

.preview-btn {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	text-align: center;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}

.preview-btn::before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	z-index: -1;

}

.product-img-container:hover .preview-btn {
	opacity: 1;
	visibility: visible;
}

.p-bg {
	background: #692e97;
	color: #fff;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.p-bg:hover {
	color: #692e97;
	background: #fff;

}

.bs-none {
	box-shadow: none !important;
}

.demo-right-card {
	position: sticky;
	top: 90px;
}

.product-title {
	font-weight: 400;
	border-bottom: 1px solid #e1e8ed;
	padding-bottom: 4px;
	font-size: 16px;
	font-family: 500;
}

.product-detalis p {
	font-size: 15px;
}

.temp-heading {
	font-weight: 500;
}

.product-technology img {
	width: 29px;
	cursor: pointer;

}

.product-theme-detalis p {
	font-size: 16px;
}

/* get demo  */
.inputBox {
	position: relative;
}

.floatingInput {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	color: #60697b;
	background-color: #fefefe;
	background-clip: padding-box;
	border-radius: .4rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	padding: 16px 20px 16px 20px;
	border: 1px solid #e6e8ef;
	box-shadow: 0 4px 16px rgba(215, 222, 241, .4), 0 11px 24px rgba(215, 222, 241, .2);
}

.inputTitle {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 15px;
	color: #60697b;
	pointer-events: none;
	transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	-ms-transition: top 0.5s;
	-o-transition: top 0.5s;
}

.inputTitle::placeholder {
	font-size: 13px !important;
}

.inputBox input:focus~span,
.inputBox input:not(:placeholder-shown)~span {
	top: -10px;
	font-size: 12px;
	background-color: #fefefe;
	padding: 6px;
}

.get-demo-inner-container {
	background: #fff;
	padding: 30px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	z-index: 999 !important;
}

.floatingInput:focus {
	border-bottom: 1px solid #692e97 !important;
}

/* .bm-1{
	border-bottom: 1px solid #e1e8ed;
	padding-bottom: 4px;
} */

@media screen and (max-width: 991px) {
	.custom-px-35 {
		padding-left: 35px !important;
		padding-right: 35px !important;
	}

	.mobile-humburger {
		display: block;
	}

	.desktop-humburger {
		display: none;
	}
	.ree-text:after{
		display: none !important;
	}


}

.testivard-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 24px;
}

.mb-60 {
	margin-bottom: 60px !important;
}

.test-user-name {
	display: flex;
	align-items: center;
}

.testi-user-img {
	margin-right: 20px;
}

.testi-user-info p {
	font-size: 17px;
	font-weight: 600;
	margin: 3px 0px;
	color: #000;
}

.testi-user-icon i {
	font-size: 40px;
	color: #104cba;
	opacity: 0.5;
}

.desktop-nav {
	display: none;
	opacity: 0;
}

@media screen and (min-width:992px) {
	.desk-menu-container {
		display: flex;
	}

	.desktop-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		opacity: 1;
		display: block;
		background-color: #fff;
	}

	.get-demo {
		margin-top: -220px;
	}
}